.App {
  text-align: center;
}


@media screen and (max-width: 1536px) {
  .App{
    margin-top: 75px;
  }

}

@media screen and (max-width: 1200px) {
  .App{
    margin-top: 75px;
  }
  
}

@media screen and (max-width: 900px) {
  .App{
    margin-top: 66px;
  }
  
}

@media screen and (max-width: 600px) {
  .App{
    margin-top: 55px;
  }
  
}